<footer class="footer is-hidden-touch">
  <div class="container has-text-centered">
      <p>Ragnarök Online é uma marca registrada Gravity Corp. & LeeMyougjin.<br />
        Este software não detém nenhum direito às imagens de itens, monstros, mapas ou cartas.
      </p>
  </div>
</footer>
