<footer class="footer is-hidden-touch" style="margin-top:40px">
  <div class="container">
      <nav class="level">
        <div class="level-left">
          <p class="level-item"><a href="/changelog">Changelog</a></p>
        </div>
        <div class="level-right">
            <p>
              Copyright © 2017 Odin Database
            </p>
        </div>
      </nav>
  </div>
</footer>
