<section class="hero is-info is-medium  main-hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1">
        <a href="/">Odin</a>
      </h1>
      <h2 class="subtitle">
        <a href="/">Database Old Times para Ragnarok Online</a>
      </h2>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Busca por Itens</label>
            <div class="control">
              <input id="item-search" class="input is-medium" type="text" placeholder="ID ou Nome do Item">
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Busca por Monstros</label>
            <div class="control">
              <input id="mob-search" class="input is-medium" type="text" placeholder="ID ou Nome do Monstro">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
