<section class="hero is-dark is-medium  main-hero">
  <div class="hero-body">
    <div class="container">
      <h1 id="logo" class="title is-size-1">
        <a href="/">Odin</a>
      </h1>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Busca por Itens</label>
            <div class="control">
              <form id="item-form" action="/items/search" method="GET">
                <input id="item-search" name="s" class="input is-medium" type="text" placeholder="ID ou Nome do Item">
              </form>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Busca por Monstros</label>
            <div class="control">
              <form id="mob-form" action="/mobs/search" method="GET">
                <input id="mob-search" name="s" class="input is-medium" type="text" placeholder="ID ou Nome do Monstro">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
