<section class="hero is-dark is-medium  main-hero" style="background:url(/wallpaper<%=Random.new.rand(1..4)%>.png) no-repeat; background-size:100%; background-position-y:40%; background-color: #363636">
  <div class="hero-body">
    <div class="container">
      <h1 id="logo" class="title is-size-1">
        <a href="/">Odin</a>
      </h1>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Busca por Itens</label>
            <div class="control">
              <form id="items-form" action="/items/search" method="GET">
                <input autocomplete="off" id="items-search" name="s" class="input is-medium" type="text" placeholder="ID ou Nome do Item">
              </form>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Busca por Monstros</label>
            <div class="control">
              <form id="mobs-form" action="/mobs/search" method="GET">
                <input autocomplete="off" id="mobs-search" name="s" class="input is-medium" type="text" placeholder="ID ou Nome do Monstro">
              </form>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Busca por Mapas</label>
            <div class="control">
              <form id="maps-form" action="/maps/search" method="GET">
                <input autocomplete="off" id="maps-search" name="s" class="input is-medium" type="text" placeholder="Nome do Mapa">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
