<title><%=@title.nil? ? 'OdinDB - Ragnarok Old Times' : " #{@title} - OdinDB" %></title>
<meta property="og:title" content="<%=@title.nil? ? 'OdinDB - Ragnarok Old Times' : " #{@title} - OdinDB" %>"/>
<meta property="og:image" content="<%=@image.nil? ? '/logo.png' : @image %>"/>
<meta property="og:site_name" content="RagMercado"/>
<meta property="og:description" content="Sistema de Comércio para Ragnarok Online" />
