<% if is_root? %>
<div class="content" style="padding-top:60px">
  <h2>Seja bem vindo ao Odin Database!</h2>
  <p>Este database para Ragnarok Online Old Times tem suas informações congeladas no episódio <strong><%=ENV['DB_VERSION'] =='ep_3' ? '3.1 Amatsu & Kunlun' : '4 Umbala e Niflheim'%></strong>.</p>
  <p>Este database é fruto das informações reunidas no projeto <a href="https://github.com/JulioCF/Ragnarok-OldTimes" target="_blank"> Ragnarok Old Times</a> do JulioCF em conjunto com contribuições importantes de outros players de ragnarok, são eles:</p>

  <ul>
    <li>Lazarento - Desenvolvimento e manutenção</li>
    <li>Kore e toda equipe do <a href="https://ragnagg.com/">RagnaGG</a> - Carga inicial de Monstros, Respawns e Drops</li>
    <li>Mateusb12 - Revisão de drops, respawns e elaboração das fórmulas de 95% esquiva, 100% acerto e ASPD</li>
    <li>Zighue - Revisão e sugestão de melhorias</li>
  </ul>
</div>
<% end %>

<div class="markdown-page content" <%=is_root? ? '' : 'style="padding-top:60px"'%>>
  <h2>Notas de Versão</h2>
  <%=@markdown.render(File.read(@file)).html_safe%>
</div>
