<div class="content" style="padding-top:60px">
  <h2>Seja bem vindo ao Odin Database!</h2>
  <p>Este database para Ragnarok Online Old Times tem suas informações congeladas no episódio <strong>3.1 Amatsu & Kunlun</strong>.</p>
  <p>Este database é fruto das informações reunidas no <a href="https://github.com/JulioCF/Ragnarok-OldTimes" target="_blank">projeto do JulioCF</a> e sendo assim-nos estendemos no acradecimento a todos seus <a href="https://github.com/JulioCF/Ragnarok-OldTimes/blob/master/Agradecimentos.txt" target="_blank">contribuidores</a>.
</div>

<div class="markdown-page content">
  <h2>Notas de Versão</h2>
  <%=@markdown.render(File.read(@file)).html_safe%>
</div>
