@import "../../../node_modules/bulma/sass/utilities/initial-variables";
$primary: #37a6b7;
$tabs-link-active-color: $black;
@import "../../../node_modules/bulma/bulma";
@import "../../../node_modules/balloon-css/src/balloon";

.no-left {
  padding-left: 0!important
}

.main-hero {
  background:url(/wallpaper1.png) no-repeat;
  background-size: 100%;
  background-position-y: 40%;
  .hero-body {
    padding-bottom:40px!important;
    padding-top:20px!important;
  }

  label {
    color: white;
  }
}

.tt-menu {
  width: 100%;
}

#logo {
  a {
    display: block;
    width: 450px;
    height: 273px;
    background:url(/logo.png) no-repeat;
    background-size: 100%;
    overflow: hidden;
    text-indent: -9999px;
  }
}
